#fejlec{
	background-color: rgb(26, 26, 26);
	height: 55px;
	width: 1410px;
	border-width: 6px;
	border-style: outset;
	border-color: rgb(38, 38, 38);
	border-radius: 10px 10px 10px 10px;
	margin: 0px auto;
	color: white;
	display: table-cell;
}
#belepes_tabla{
	border-width: 2px;
	border-style: outset;
	border-radius: 10px 10px 10px 10px;
	float: right;
	margin: 0px 1px 0px 0px;
}
#belepes_input{
	border-width: 1px;
	border-style: double;
	border-radius: 10px 10px 10px 10px;
	background-color: transparent;
	color: white;
	outline: none;
}
#kozep_td1{
	background-color: rgba(0, 0, 0, 0.7);
	height: 500px;
	width: 463px;
	border-width: 6px;
	border-style: outset;
	border-color: rgb(38, 38, 38);
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	color: white;
}
#kozep_td2{
	background-color: rgb(26, 26, 26);
	height: 500px;
	width: 463px;
	border-width: 6px;
	border-style: outset;
	border-color: rgb(38, 38, 38);
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	color: white;
}
#alja{
	background-color: rgba(0, 0, 0, 0.7);
	height: 210px;
	width: 1410px;
	border-width: 6px;
	border-style: outset;
	border-color: rgb(38, 38, 38);
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	color: white;
}
h1{
	text-align: center;
}
.inputs{
	width: 50%;
	padding: 12px 12px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
}
#regisztracio{
	margin-top: 15px;
	width: 200px;
	height: 50px;
	border: 0;
	font-size: 14px;
}